.menu {
  background-color: #0a2750;
  color: #fff;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu__title {
  display: flex;
  flex-basis: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  max-width: 780px;
  margin: auto;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 24px;
}

.menu__subtitle {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  justify-content: center;
  max-width: 780px;
  margin: auto;
  padding-bottom: 100px;
  text-align: center;
}

.menu__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
  gap: 100px;
}

.card {
  width: 600px;
}

.card__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 32px 0px;
}

.card__list {
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
}

.card__list-item {
  display: flex;
  list-style: none;
  padding-top: 16px;
}

.card__list-divider {
  display: flex;
  border-bottom: 2px solid white;
  flex-grow: 2;
}
