@import url(../blocks/normalize.css);
/*font-family: 'Inter', Arial, sans-serif, ;
font-family: 'Noto Serif', Times New Roman, serif;*/

@import url(../pages/page.css);

.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto 0;
  min-height: 720px;
  max-height: 800px;
  background-size: cover;
}

.header__title {
  padding: 0;
  margin-top: 202px;
  max-width: 729px;
  font-family: Noto Serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header_image {
  width: 646px;
  height: 560px;
  top: 124px;
  right: 5px;
  position: absolute;
  z-index: 1;
}

.span-accent {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #000;
  display: block;
}

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 125px;
  height: 142px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
  padding-top: 30px;
  padding-right: 80px;
  justify-content: flex-end;
  margin: 0;
}

.nav__links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style: none;
  padding: 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
  transition: linear 0.6s;
}

.description {
  max-width: 683px;
  right: 80px;
  top: 28px;
  font-family: Noto Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.paragraph {
  align-items: baseline;
  left: 80px;
  bottom: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
